<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Anderson Siquelli Teofilo" />
    <meta name="description" content="Gerenciador de contatos" />
    <meta name="keywords" content="Contatos, Gerenciador, Cadastro, Enterprise" />
    <title>@ViewData["Title"] | Gerenciador de Contatos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <partial name="_Navigation" />

    <div class="container">
        <main role="main" class="pb-3">
           
            @RenderBody()

            <div class="d-flex justify-content-center">
                <div id="loading" class="position-relative"></div>
            </div>
        </main>
    </div>
    <div id="modal-container" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document"></div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - Gerenciador de Contatos - <a asp-area="" asp-controller="Home" asp-action="About">Sobre</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>