@model Contact

@{
    ViewData["Title"] = "Cadastrar contato";
}

<nav aria-label="breadcrumb mt-0">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Contact")">Contatos</a></li>
    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
  </ol>
</nav>
<section class="container mb-3">
    <div class="row">
        <div class="col-lg-12">
            <h4>Cadastrar usuário</h4>
            <p>Para realizar o cadastro preencha os dados abaixo.</p>
        </div>
    </div>
</section>
<section class="container mb-3">
    <form id="form-contact" asp-action="Create" method="post" onsubmit="Loading();">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="FirstName" class="col-form-label col-lg-2">Primeiro nome:</label>
            <div class="col-lg-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="LastName" class="col-form-label col-lg-2">Sobrenome:</label>
            <div class="col-lg-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="PhoneNumber" class="col-form-label col-lg-2">Telefone:</label>
            <div class="col-lg-10">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-form-label col-lg-2">E-mail:</label>
            <div class="col-lg-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="BirthDate" class="col-form-label col-lg-2">Data de Nascimento:</label>
            <div class="col-lg-10">
                <input asp-for="BirthDate" class="form-control" min="1900-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" onclick="window.history.back();" class="btn btn-success">Voltar</button>
                <button type="reset" class="btn btn-light">Limpar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery.mask/jquery.mask.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            PhoneNumberMask();

            $("form").bind("invalid-form.validate", function() {
                RemoveLoading();
            });
        });
    </script>
}